{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{%load humanize%}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{sCategory.Image.url}}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>{{sCategory.Name}}</h1>
              <span class="subheading">Encuentra el articulo que estás buscando.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 mx-auto">

            {%for post in paginator.queryset  %}
            <div class="post-preview">
            <a href="{{post.id}}">
              <h2 class="post-title">
                {{post.Title}}
              </h2>
              <h3 class="post-subtitle">
                {{post.Content|truncatewords:"20" }}
              </h3>
              
            </a>
              {%for tag in post.Category.all%}
                  <a class="btn btn-primary" href="/categoria/{{tag.Name}}" style="color: white;"> {{tag.Name}}</a>
              {%endfor%}

            <p class="post-meta">Posteado por
              <a href="#">{{post.Author}}</a>
              {{post.Timestamp|naturaltime }}</p>
          </div>
          <hr>
         
         {%endfor%}
         
          <!-- Pager -->
           <div class="clearfix">
     
             {% if paginator.has_prev %}
                  
                  <a class="btn btn-primary float-left" href="?page={{ paginator.prev_page }}" style="padding: 15px;">&larr; Anterior </a>
              {% else %}
                  
              {% endif %}                  
              {% if paginator.has_next %}
                  <a class="btn btn-primary float-right"  href="?page={{ paginator.next_page }}" style="padding: 15px;">Siguiente &rarr;</a>
                  
              {% else %}
                 
              {% endif %}
      
          </div>
          <br> <br>
          <div class="clearfix "><center><h4>Página <{{paginator.page}} de {{paginator.pages}}> </h4></center></div>
        </div>
        <div class="col-lg-3 col-md-3 mx-auto" style="">

          <div style="">
            <div style=" margin-top: 40px;">
              <center><h3 style="color: black; text-align: right;">CATEGORÍAS</h3></center>
          
              {%for tag in Categories%}
                  <a class="btn btn-primary btn-xs" href="/categoria/{{tag.Name}}" style=" float: right;"> {{tag.Name}}</a><br>
              {%endfor%}
            </div>
            
          </div>

          <div style=" ">
            <div style=" margin-top: 40px;">
              <center><h3 style="color: black; text-align: right;">ÚLTIMOS POSTS</h3></center>
          
              {%for ultimos in Lasts_posts%}
                  <a class="" href="/categoria/{{ultimos.Category.first}}/{{ultimos.id}}" style=" float: right;text-decoration:none;  "> <h6 class="" style="font-weight:100; ">{{ultimos.Title|truncatewords:"5" }}</h6></a><br>
              {%endfor%}
            </div>
            
          </div>
          
        </div>
      </div>
    </div>


   

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>

  {% endblock %}