{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{%load humanize%}

{% load emoji_tags %}
{{ blog_post.body|emoji_replace }}
{{ blog_post.body|emoji_replace_unicode }}
{{ blog_post.body|emoji_replace_html_entities }}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ P_detail.Image.url }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-9 mx-auto">
            <div class="post-heading">
              <h1>{{P_detail.Title}}</h1>
             <!-- <h2 class="subheading">Problems look mighty small from 150 miles up</h2>-->
              <span class="meta">Posteado por <a href="/acerca" title=""> Hector Ramos</a>
                {{P_detail.Timestamp|naturaltime}}</span>

            </div>
          </div>

          <div class="col-lg-3 col-md-3 mx-auto">
            <div class="post-heading">
              
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-9 mx-auto content-markdown" style="">{{P_detail.Content|linebreaks}}</div>
          
           <div class="col-lg-3 col-md-3 mx-auto" style="">

          <div style="">
            <div style=" margin-top: 40px;">
              <center><h3 style="color: black; text-align: right;">CATEGORÍAS</h3></center>
          
              {%for tag in Categories%}
                  <a class="btn btn-primary btn-xs" href="/categoria/{{tag.Name}}" style=" float: right;"> {{tag.Name}}</a><br>
              {%endfor%}
            </div>
            
          </div>

          <div style=" ">
            <div style=" margin-top: 40px;">
              <center><h3 style="color: black; text-align: right;">ÚLTIMOS POSTS</h3></center>
          
              {%for ultimos in Lasts_posts%}
                  <a class="" href="/categoria/{{ultimos.Category.first}}/{{ultimos.id}}" style=" float: right;text-decoration:none;  "> <h6 class="" style="font-weight:100; ">{{ultimos.Title|truncatewords:"5" }}</h6></a><br>
              {%endfor%}
            </div>
            
          </div>
          
        </div>





         
        </div>
      </div>
    </article>


  

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>
    

{% endblock %}
 